*{
 margin: 0;
 transition: .5s;
 
}
.navbar{
  height:100px;
  width: 100%;
  background-color: black; 
}


.logo{
  float: left;
  color: white;
  margin-top: 35px;
  margin-left: 70px;
}
.option{
  float: right;
}
.option ul{
  margin-top: 40px;
  list-style: none;
  float: right;
}
.option li{
  float: left;
}
.option li a{
  margin-right: 40px;
  text-align: center;
  text-decoration: none;
  color: white;
  }

input{
	height: 30px;
  	width: 200px;
  	border-radius: 5px;
}
.sb{
  	height: 50px;
  	width: 120px;
  	color: white;
  	background-color: darkcyan;
  	border-radius: 10px;
  }
  select{
  	height: 30px;
  	width: 100px;
  }



.register{
	margin-top: 50px;
    
}
.f1{
	height: 600px;
	width: 500px;
	}

